*
!*.cpp
!*.pdf
!*.h

!Atcoder/
!Additional/
!Codeforces/
!CSES/
!icpc/
!Kattis/
!POI/
!POJ/
!Reference/
!Usaco/
!UVA/
!VNOJ/
!Demen_Training

!Atcoder/**/
!Additional/**/
!Codeforces/**/
!CSES/**/
!icpc/**/
!Kattis/**/
!POI/**/
!POJ/**/
!Reference/**/
!Usaco/**/
!UVA/**/
!VNOJ/**/
!Demen_Training/**/

!.gitignore